<?xml version="1.0"?>
<launch>
  <!-- Argumento para determinar si se utiliza el gripper de 2 dedos -->
  <arg name="gripper_2f" default="false"/>

  <!-- Cargar el controlador de estado de las articulaciones -->
  <rosparam file="$(find abb_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- Cargar el controlador del brazo con ganancias PID -->
  <rosparam file="$(find abb_gazebo)/config/irb_4600_255_arm_controller.yaml" command="load" />
  <node name="irb_4600_255_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

  <!-- Especificar ganancias PID para cada articulación -->
  <param name="/gazebo_ros_control/pid_gains/joint_1/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_1/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_1/d" value="0.01" />

  <!-- Ganancias PID para la articulación 2 -->
  <param name="/gazebo_ros_control/pid_gains/joint_2/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_2/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_2/d" value="0.01" />

  <!-- Ganancias PID para la articulación 3 -->
  <param name="/gazebo_ros_control/pid_gains/joint_3/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_3/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_3/d" value="0.01" />

  <!-- Ganancias PID para la articulación 4 -->
  <param name="/gazebo_ros_control/pid_gains/joint_4/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_4/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_4/d" value="0.01" />

  <!-- Ganancias PID para la articulación 5 -->
  <param name="/gazebo_ros_control/pid_gains/joint_5/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_5/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_5/d" value="0.01" />

  <!-- Ganancias PID para la articulación 6 -->
  <param name="/gazebo_ros_control/pid_gains/joint_6/p" value="1.0" />
  <param name="/gazebo_ros_control/pid_gains/joint_6/i" value="0.1" />
  <param name="/gazebo_ros_control/pid_gains/joint_6/d" value="0.01" />

  <!-- Desactivar modelos en línea -->
  <param name="/gazebo_ros/enable_ros_network" value="false" />
  <param name="/gazebo_ros/enable_sim_profilers" value="false" />
  <param name="/gazebo_ros/publish_simulation_time" value="true" />
  <param name="/gazebo_ros/use_sim_time" value="true" />

  <!-- Sección para el gripper de 2 dedos -->
  <group if="$(arg gripper_2f)">
    <!-- Cargar el controlador del gripper -->
    <rosparam file="$(find abb_gazebo)/config/gripper_controller_robotiq.yaml"/>
    <node name="Gripper_Spawner" pkg="controller_manager" type="spawner" args="gripper"/>
  </group>
</launch>


